<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="im.vector.app.features.pin.lockscreen">

    <application>
        <!-- Used for UI tests to display the BiometricPrompt -->
        <activity android:exported="false" android:name=".tests.TestActivity" />
    </application>

</manifest>
